<div ng-controller="addDetailController" class="tempDiv">
    <h1>Add User</h1>
    <form name="addForm" class="addForm" ng-submit="addForm.$valid && addUser()" novalidate>
        <div class="form-group">
            <label for="name">User Name:-</label>
            <input type="text" pattern="" class="form-control form-control-sm" ng-model="user.name" id="name" required><br>
        </div>
        <div class="form-group">
            <label for="email">User Email:-</label>
            <input type="email"  class="form-control form-control-sm" ng-model="user.email" id="email" required><br>
        </div>
        <div class="form-group">
            <label for="password">User Password:-</label>
            <input type="password" ng-minlength="6" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/" class="form-control form-control-sm" ng-model="user.password" id="password" required><br>
        </div>
        <div class="form-group">
            <label for="contact">User Contact:-</label>
            <input type="tel" class="form-control form-control-sm" ng-model="user.contact" id="contact" required><br>
        </div>
        <div class="form-group">
            <label for="address">User Address:-</label>
            <textarea class="form-control form-control-sm" ng-model="user.address" id="address" required></textarea><br>
        </div>
        <label for="role">User Role:-</label>
        <div class="form-group">
            <input type="radio" class="form-check-input" id="user" name="role" ng-model="user.role" value="user" required>
            <label for="user">User</label>&nbsp;
            <input type="radio" class="form-check-input" id="admin" name="role" ng-model="user.role" value="admin" required>
            <label for="admin">Admin</label><br>
        </div>
        <button class="btn btn-primary" type="submit">Add User</button><br>

        <p>Form Valid? {{addForm.$valid}} </p>

    </form>
    <p>{{msg}}</p>
</div>