.introDiv {
    display: flex;
    flex-direction: column;
}

.contentDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 41.5rem;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lDiv {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 3rem;
    background-color: #fffaf0d6;
    border-radius: 0px 20px 20px 0px;
    border: 2px dotted;

}

.rDiv {
    display: flex;
    width: 40%;
    justify-content: center;
    border: 2px solid black;
    height: 32rem;
    border-right: 0px;
    border-radius: 20px 0px 0px 20px;
    background-color: #00000042;
    flex-direction: column;
    align-items: center;
    color: white;
}

.loginDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    color: white;
}

.loginForm{
    width: 160%;
    font-size: 130%;
}

.mnav{
    color:white;
    background-color: #694c2591;
    padding-left: 1rem;
    width: 100%;
}

.snav{
    color:white;
    background-color: #0000004d;
    padding-left: 1rem;
    width: 100%;
}


.formDiv {
    position: fixed;
    z-index: 1;
    width: 40%;
    background-color: #331956d1;
    border: 1px solid black;
    height: 95%;
    box-shadow: 0px 0px 89px 20px #7f42ac;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 72%;
}

.homeDiv {
    width: 100%;
    display: flex;
 
    flex-direction: column;
    align-items: center;
    background-image: url('../img/admin.jpg');
    background-size: cover;
    color: white;
    height: 53rem;

}

.tempDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 3px solid white;
    width: 100%;
}

.optDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.alink {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 6px;
    border-radius: 11px;
}

.adnav {
    color: white;
    background-color: #000000cf;
    padding: 0.5rem 1rem;
    width: 100%;
    
}

.table{
    --bs-table-bg: rgb(255 255 255 / 42%);
    --bs-table-border-color: black;
    --bs-table-color: white;
}

.logout{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1px 10px;
    border-radius: 11px;
}

.navDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addForm{
    width:35rem;
}

.signForm{
    width:35%;
}

.edForm{
    width: 55%;
}

.form-row{
    width: 100%;
    display: flex;
}

.getForm{
    background-color: white;
}

.colDiv{
    margin: 3px 3px;
}

#idDiv{
    width:2.5rem;
}

#emailDiv{
    width:12rem;
}

#passDiv{
    width:10rem;
}

#roleDiv{
    width: 6rem;
}

#th1{
width: 3rem;
}

#th2{
width: 11rem;
}
#th3{
width: 12rem;
}
#th4{
width: 11rem;
}
#th5{
width: 11rem;
}

#th6{
width: 11.5rem;
}

#th7{
width: 6rem;
}

input.ng-valid.ng-dirty{
border:4px solid green ;
}

input.ng-invalid.ng-dirty{
    border: 4px solid red ;
    }